.address-body {
    margin: auto;
  }
  
  .form-body {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: center;
    margin: auto;
  }
  
  .form-text {
    font-size: small;
    margin: 5px;
  }
  
  .seller-name {
    width: 200px;
    height: 22.5px;
    outline: none;
    position: relative;
    top: 1px;
  }
  
  .address-input {
    width: 430px;
  }
  
  .number-input {
    width: 70px;
  }
  
  